<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create</title>
</head>
<body>
<h1>{{ title }} World</h1>


<button type="submit"><a href="/">Home</a></button>
<button type="submit"><a href="/read">Read</a></button>

<form method="post" action="" enctype="multipart/form-data">
    {%csrf_token%}
    <br>
    <br>
    <label for="Patient_Name">Patient Name : </label><input type="text" name="Patient_Name" id="Patient_Name">
    <br>
    <br>
    <label for="Prescription_Date">Date : </label><input type="date" name="Prescription_Date" id="Prescription_Date">
    <br>
    <br>
    <label for="Patient_Weight"> Patient Weight : </label><input type="number" name="Patient_Weight" id="Patient_Weight">
    <br>
    <br>
    <label for="Patient_Height">Patient Height : </label><input type="number" name="Patient_Height" id="Patient_Height">
    <br>
    <br>
    <label for="Is_Patient_Admitted">Patient Admitted : </label><input type="checkbox" name="Is_Patient_Admitted" id="Is_Patient_Admitted">
    <br>
    <br>
    <label for="Patient_Mobile_No">Patient Mobile No : </label><input type="number" name="Patient_Mobile_No" id="Patient_Mobile_No">
    <br>
    <br>
    <label for="Patient_Image">Patient Image : </label><input type="file" name="Patient_Image" id="Patient_Image" accept="image/*" >
    <br>
    <br>
    <label for="Patient_Condition_Description"> Patient Condition Description : </label><textarea name="Patient_Condition_Description" id="Patient_Condition_Description">Mention Patient Condition</textarea>
    <br>
    <br>
    <input type="submit" value="Add Data">
</form>
</body>
</html>