<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create</title>
</head>
<body>
<h1>{{ title }} World</h1>


<button type="submit"><a href="/">Home</a></button>
<button type="submit"><a href="/read">Read</a></button>
<button type="submit"><a href="/update">Update</a></button>
<button type="submit"><a href="/delete">Delete</a></button>

<form method="post" action="create_status.html">
    <br>
    Prescription Date : <input type="datetime-local">
    <br>
    Patient Name : <input type="text">
    <br>
    <input type="submit">
</form>
</body>
</html>